                <!DOCTYPE html>
                <html lang="en">
                <head>
                    <meta charset="UTF-8">
                    <title>Analyzing Customer Churn</title>
                </head>
                <body>
                    <h1>Analyzing Customer Churn</h1>
                    <form action="/predict" method="post">
                        <input type=\"text\" name="CreditScore" placeholder="CreditScore", required=\"required\" /><br><p>
                            <input type=\"text\" name="Age", placeholder="Age", required=\"required\" /><p>
                            <input type=\"text\" name="Tenure", placeholder="Tenure", required=\"required\" /><p>
                            <input type=\"text\" name="Balance", placeholder="balance", required=\"required\" /><p>
                            <input type=\"text\" name="NumOfProducts", placeholder="NumOfProducts", required=\"required\" /><p>
                            <input type=\"text\" name="HasCrCard", placeholder="HasCrCard", required=\"required\" /><p>
                            <input type=\"text\" name="IsActiveMember", placeholder="IsActiveMember", required=\"required\" /><p>
                            <input type=\"text\" name="EstimatedSalary", placeholder="EstimatedSalary", required=\"required\" /><p>
                            <input type=\"text\" name="Geography_Germany", placeholder="Geography_Germany", required=\"required\" /><p>
                            <input type=\"text\" name="Geography_Spain", placeholder="Geography_Spain", required=\"required\" /><p>
                            <input type=\"text\" name="Gender_Male", placeholder="balance", required=\"required\" /><p>
                            <input type="submit" value="Predict">

                    </form>
                </body>
                </html>
                
                
                
                
                